html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    margin-top: 48px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*-------------------------------------------------------------------*/
.body-content.list img {
    width: 128px;
    height: 128px;
}
.body-content.list .item {
    text-align: center;
}
.body-content.list .row {
    margin-bottom: 30px;
}
img.preview_image {
    max-width: 300px;
}

/*-------------------------------------------------------------------*/
.boards {
    min-height: 100px;
    max-height: 100px;
    /*background: rgba(0, 162, 255, 0.1);*/
}
.search {
    margin-top: 25px;
}
.clr {
    clear: both;
    margin-top: 20px;
}
.search-border{
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}
/* ---- VOLUNTEERS PAGES STYLES ---- */






































