/*
    b_helpers v1.0
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/


.b_helpers                         { width:310px; position: relative; }
.b_helpers .b_helpers_wrapper                { width: 310px; overflow: auto; margin: 0;  }
.b_helpers .b_helpers_wrapper ul             { width: 9999px; list-style: none;  margin: 0; }
.b_helpers ul li                   { display: block; float: left; padding: 0; width: 315px; margin: 0; }

#thumbNav                               {    display: table; position:relative; padding:0 24px;
    margin: 25px auto 0;
    text-align: center;}
#thumbNav a                             {background-color: #fff; font-weight:700; font-style:normal;
    border: none;
    color: #cdcdcd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 2px 10px;
    position: relative;
    text-decoration: none;}
#thumbNav a:hover                       { color:#006cff; text-decoration:underline; background:none }
#thumbNav a.cur                         { background:none;
    border:none;
    color:#006cff;
    cursor: default;
    z-index: 3; text-decoration:underline}
	#thumbNav .arrow                  {border-radius:0;background:url(../gfx/page_ics.png) no-repeat -24px -27px; width:24px; height:27px; margin: 0; display:block; text-indent: -9999px; padding:0;position: absolute; top:0; cursor: pointer; }
#thumbNav .forward                { background-position: -24px -27px; right: 0; }
#thumbNav .back                   {left:0; background-position: 0 -27px;  }
#thumbNav .forward:hover          { background:url(../gfx/page_ics.png) no-repeat -24px 0 }
#thumbNav .back:hover             { background:url(../gfx/page_ics.png) no-repeat 0 0 }


#start-stop                             {display:none;}
#start-stop.playing                     { background-color: red; }
#start-stop:hover                       { background-image: none; }

/*
  Prevents
*/
.b_helpers .b_helpers_wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.b_helpers .b_helpers_wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }