* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
/*header*/


/* Header
-----------------------------------------------------------------------------*/
/*.header {background:url(../gfx/fon_bg.jpg) no-repeat center 0; height: 605px;}*/
.header {background:url(../gfx/fon_bg.jpg) no-repeat center 0; width:100%;height: 605px;}
/*.secondary .header{background:url(../gfx/fon_bg_secondary.jpg) no-repeat center 0; height:194px}*/
.secondary .header{background:url(../gfx/fon_bg_secondary.jpg) no-repeat center 0; height:194px}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 115px;
}
.secondary .content {
	padding: 0 0 145px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -115px auto 0;
	min-width: 320px;
	max-width: 1920px;
	height: 115px;
	background: #103082;
	position: relative;
}