header {
  background-color: $base-color;
  height: $header-height;
  color: #fff;
}

footer {
  background-color: $base-color;
  height: $footer-height;
  color: #fff;
}

h2 {
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 32px !important;
}

i {
  font-style: normal;
}

hr {
  margin: 0 !important;
}

.wall {
  padding-top: 50px;
}

.U {
  color: #00a2ff;
}

.I {
  color: #fff000;
}

.hide {
  display: none;
}

.social {
  font-size: 25px;
}

.btns {
  text-align: center;
  margin-top: 15px;
}

.clear {
  clear: both;
}

.custom-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #E2A700;
  border-radius: 10px;
}

label.required:after {
  content: "*";
  margin-left: 3px;
  color: #f00;
}

/*-----Custom navbar-------*/
.navbar {
  margin-bottom: 0 !important;

  i {
    margin-right: 5px;
  }
}

.navbar-inverse {
  background-color: $nav-color !important;
  border: none !important;
  border-radius: 0 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: $nav-hover-font-color !important;
  background-color: #eeeeee !important;
  border-radius: 7px;
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: $nav-font-color !important;
}

.thumbnail {
  border: none;
  img {
    height: 260px;
  }
}