$base-color: #00a2ff;
$nav-color: #0089d8;
$nav-hover-font-color: #2a6496;
$nav-font-color: #fff;

$header-height: 150px;
$footer-height: 120px;

$counters-height: 365px;

$text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
