@import 'var';
@import 'base';


/*-----Header styles-------*/
header {
  h1 {
    font-size: 76px;
    font-family: Helvetica;
    text-shadow: $text-shadow;
    margin: 0;
    @media (max-width: 380px) {
      font-size: 72px;
    }
    a {
      color: #fff
    };
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .under-header {
    font-size: 24px;
  }
}

.counters {
  .circles {
    font-size: 36px;
    text-align: center;
    span {
      font-size: 60px;
      border: 15px solid #00a2ff;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      display: inline-block;
    }
  }
  .users {
    margin: 31px 0;
    @media (max-width: 380px) {
      font-size: 25px;
    }
  }
  .register-btn {
    margin: 31px 0;
  }
}

/*-----Contact popup-------*/
.contactBtn {
  text-align: center;
  position: fixed;
  top: 51%;
  z-index: 100;
  background: #00a2ff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 0 6px 6px 0;
  @media (max-width: 1340px) {
    padding: 5px 5px;
  }
  &:hover {
    cursor: pointer;
  }
  i {
    font-size: 30px;
  }
}
@media (max-width: 1340px) {
  .contactBtn .text {
    display: none;
  }
}

/*-----Tagline-------*/
.tagline {
  width: 383px;
  height: 245px;
  position: absolute;
  top: 24%;
  z-index: 100;
  background-image: url('../images/makedobro.png');
  @media (max-width: 1261px) {
    display: none;
  }
  @media (min-width: 1260px) and (max-width: 1375px) {
    top: 29%;
    width: 200px;
    height: 128px;
    background-image: url('../images/makedobro_200.png');
  }
  @media (min-width: 1376px) and (max-width: 1640px) {
    top: 26%;
    width: 250px;
    height: 160px;
    background-image: url('../images/makedobro_250.png');
  }
}

/*-----Top needy styles-------*/
.needy {
  .items {
    img {
      height: 300px;
      width: 300px;
      border: 10px solid #00A2FF;
      @media (max-width: 991px) and (min-width: 601px) {
        height: 230px;
        width: 230px;
      }
    }
    a {
      text-align: center;
      display: block;
      font-size: 19px;
      margin-top: 10px;
      @media (max-width: 601px) {
        margin-top: 0;
      }
    }
  }
  .all-need-btn a {
    margin: 31px 0;
  }
}

/*-----About styles-------*/
.about {
  p:first-of-type {
    margin-top: 31px;
  }
  p:last-of-type {
    margin-bottom: 31px;
  }
}

/*-----Top styles-------*/
.top {
  @media (max-width: 768px) {
    .col:last-of-type {
      margin-top: 25px;
    }
  }
  .col .row {
    padding: 20px 0;
    margin: 0 !important;
    a {
      font-size: 19px;
    }
  }
  .col .row:first-of-type {
    padding-top: 0;
  }
  .img {
    width: 90px;
    float: left;
    img {
      width: 90px;
      height: 90px;
    }
  }
  .name {
    float: left;
    margin: 15px;
  }
  .line {
    width: 90%;
    height: 1px;
    background-color: #93d8ff;
  }
  @media (max-width: 692px) {
    .line {
      width: 100%;
    }
  }
}

/*-----News styles-------*/
.news {
  .news-items {
    margin-bottom: 80px;
    .row {
      margin-bottom: 20px;
      .date {
        display: block;
        text-align: center;
      }
    }
    span {
      font-size: 24px;
      color: #0090ff;
    }
  }
  h3 {
    margin: 0 0 9px 0!important;
    font-size: 20px;
  }
  p {
    word-wrap: break-word;
  }
  .news-img {
    float: left;
    margin-right: 15px;
  }
}

/*-----Footer styles-------*/
footer {
  h3 {
    font-size: 60px;
    font-family: Helvetica;
    text-shadow: $text-shadow;
    margin-bottom: 0;
    a {
      color: #fff
    };
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  @media (max-width: 480px) {
    h3 {
      font-size: 38px;
    }
  }
  .socials {
    font-size: 40px;
    text-align: right;
    margin-top: 29px;
    @media (max-width: 480px) {
      font-size: 30px;
      margin-top: 18px;
    }
  }
  a {
    color: #fff;
  }
}

/*----- Helpers (angels & volunteers) styles -------*/
.helpers {
  a:not(.pagination) {
    font-size: 18px;
  }
  a:hover {
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .col:last-of-type {
      margin-top: 25px;
    }
  }

  .col {
    margin: 0 !important;
  }

  .col .row:first-of-type {
    padding-top: 0;
  }

  .img {
    float: left;

    img {
      width: 90px;
      height: 90px;
      margin: 15px 0;
    }
  }

  .name {
    float: left;
    margin: 15px;
  }

  .line {
    width: 90%;
    height: 1px;
    background-color: #93d8ff;
  }
  @media (max-width: 692px) {
    .line {
      width: 100%;
    }
  }
}

/*-----Helper (angels & volunteers) more styles-------*/
.helper {
  p {
    font-size: 16px;
    margin: 0 !important;
  }
  h3 {
    margin-top: 0 !important;
    font-size: 36px;
    color: #333333;
    display: inline-block;
  }
  .city {
    color: #999;
    font-size: 21px;
    margin-left: 7px;
  }
  .info {
    margin-bottom: 15px;
  }
}

/*-----Profile styles-------*/
.profile {
  label {
    margin-right: 13px;
  }
  label.required:after {
    content: "*";
    margin-left: 3px;
    color: #f00;
  }
  .user-info {
    h3 {
      font-size: 36px;
      color: #333333;
      display: inline-block;
      margin-top: 0 !important;
    }
    .city {
      color: #999;
      font-size: 21px;
      margin-left: 7px;
    }

    .info {
      .status {
        float: right;
        &:hover {
          cursor: default;
        }
      }
      p {
        color: #000;
        font-size: 16px;
        margin-bottom: 0 !important;
      }
    }
    .btns {
      text-align: center;
      margin: 15px 0;
    }
  }
  .form {
    p {
      margin: 30px 0 20px 0;
      text-align: center;
    }
  }
  .preview_image {
    max-width: 300px;
  }
}

/*-----Needies styles-------*/
.needies {
  .row {
    margin-bottom: 25px;
    img {
      max-height: 290px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 16px;
    margin: 0 !important;
  }
  .grid {
    padding: 0;
  }
  .item {
    padding: 0;
    height: 455px;
    //min-height: 420px;
    //max-height: 545px;
  }
  .item > * {
    text-align: center;
  }
  .user-info {
    h3 {
      margin: 0;
      font-size: 36px;
      color: #333;
      display: inline-block;
    }
    .city {
      color: #999;
      font-size: 21px;
      margin-left: 7px;
    }
    .info {
      margin-bottom: 15px;
      .status-label {
        display: inline-block;
        float: right;
      }
    }
  }
}


/*-----Contact styles-------*/
.contact-widget {
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .text {
    font-size: 16px;
  }
  .date {
    font-size: 14px;
    color: #747474;
  }
  img {
    float: left;
    width: 80px;
    margin-right: 15px;
    margin-bottom: 5%;
  }
}

/*-----Wall styles-------*/
.user-wall {
  border-top: 1px solid #d5d5d5;
  margin-top: 40px;
  padding-top: 20px;
  .flash-message {
    padding: 15px;
    text-align: center;
  }
  .attach-form {
    display: none;
  }
  .comments {
    .name, .text {
      font-size: 16px;
    }
    .wall-item {
      border-top: 1px solid #F1F1F1;
      margin-top: 10px;
      padding-top: 10px;
      &:first-of-type {
        border-top: none;
      }
    }
    .date {
      font-size: 14px;
      color: #747474;
      float: right;
    }
    .avatar {
      float: left;
      width: 80px;
      margin-right: 15px;
    }
    .gallery {
      height: 60px;
    }
  }
}

/*-----Task more-------*/
.task {
  img {
    width: 100%;
  }
  h3 {
    margin-top: 0;
  }
  .date {
    font-size: 14px;
    color: #747474;
  }
  a.btn {
    float: right;
  }
}
.subscribers {
  .sub-item {
    margin: 10px 0;
    p {
      margin: 0;
    }

    img {
      width: 120px;
      height: 120px;
      float: left;
      margin-right: 15px;
    }
  }
}


/*-----Custom login popup-------*/
#login-widget-form {
  button[type=submit] {
    display: none;
  }
}


/*-----Rating history popup-------*/
#ratingModal {
  .modal-body {
    height: 340px;
    overflow-y: scroll;
  }
  .item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: none;
    }
    .rating {
      font-weight: bold;
    }
    .name {

    }
    .date {
      float: right;
      font-size: 14px;
      color: #747474;
    }
  }
}


/*-----Feeds styles-------*/
.feeds {
  h4 {
    margin: 0 0 10px 0;
    font-weight: normal;
    display: inline-block;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .feed {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: none;
    }
    .type {
      font-weight: bold;
    }
    .date {
      float: right;
      font-size: 14px;
      color: #747474;
    }
    img {
      width: 100%;
      float: left;
      margin-right: 10px;
    }
  }
}

/*-----User register styles-------*/
.user-register {
  p {
    display: none;
    &:first-of-type {
      display: block;
    }
  }
  span {
    margin-bottom: 15px;
    display: inline-block;
  }
  input[type=radio] {
    margin-right: 5px;
  }
  label {
    margin-right: 13px;
  }
}

/*-----Bootstrap Carousel Stylize-------*/
.carousel-control {
  background-image: none !important;
}

.modal-picture {
  max-height: 100% !important;
}

#carousel-modal-generic .item {
  margin: 0;
}

.modal-lg.picture-modal {
  height: 100%;
}


/*----- History -------*/
.history {
  min-height: 100px;
  max-height: 250px;
  overflow-y: scroll;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  .avatar {
    height: 68px;
  }
}

/*----- Online -------*/
.online {
  position: relative;
}

.label-online {
  top: 0;
  position: absolute;
  right: 45px;
}

.label-online-needy {
  top: 0;
  position: absolute;
  right: 50px;
}

.label-list {
  top: 4px;
  position: absolute;
  right: 45px
}

/*----- Board -------*/
.board {
  .no-approved-msg {
    display: none;
    color: #f00;
  }

  .media {
    margin-bottom: 20px;
  }
}